body{
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin-left: 80px;
    margin-right: 100px;
}

footer{
	background-color: white;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 15px;

}
nav li {
	padding: 10px;
	font-size: 16px;
	font-family: 'Work Sans';
	font-weight: 400;
}

li:hover {
	color: black;
	font-weight: bold;
}

li img{
	width: 19px;
}

.connexion{
	display: flex;
	flex-direction: column;
	padding-top: 120px;
	padding-bottom: 150px;
}

.champ{
	display: flex;
	flex-direction: column;
	width: 40%;
}

.log{
	text-align: center;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	height: 51px;
	color: black;
	border: white;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	margin-top: 5px;
    margin-bottom: 25px;
}

label{
	font-family: 'Work Sans';
}

button{
	text-align: center;
	border: #1D6154 solid 1px;
	border-radius: 20px 20px 20px 20px;
	justify-items: center;
	background-color: #1D6154;
	color: white;
	font-family: Syne;
	font-size: 18px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
}

a{
	text-align: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#loginLink :visited{
	color: black;
	font-weight: bold;
}

#loginLink :active{
	font-weight: 700;
}